<h1>New Alarm</h1>

<%= form_for Alarm.new do |f| %>
  <%= f.label :text %>
  <%= f.text_field :text %>

  <%= f.submit 'Create Alarm' %>
<% end  %>

<hr>

<h1>All Alarms</h1>
<ul>
  <% @alarms.each do |alarm| %>
  <li>
    <%= form_for alarm, url: vote_alarm_path(alarm) do |f| %>
      <%= alarm.id %> -- <%= alarm.text %> -- <span id="alarm_<%= alarm.id %>_votes"><%= alarm.votes %></span>
      <%= f.submit '+1' %>
    <% end %>
  </li>
  <% end %>
</ul>
